#svg{
	width: 600px;
	height: 77px;
	background-color: #1CC4D8;
	position: absolute;
	border-radius: 5px;
	border: 5px solid #1C91FF;
	left: 10%;
}
#titulo{
	width: 600px;
	height: 115px;
	background-color: #1CC4D8;
	position: absolute;
	border-radius: 5px;
	border: 5px solid #1C91FF;
	left: 10%;

	float: left;
}
#enlaces{
	width: 600px;
	height: 70px;
	background-color: #1CC4D8;
	position: absolute;
	border-radius: 5px;
	border: 5px solid #1C91FF;
	left: 10%;
	padding-top: 2%;
}
#foto{
	height: 120px;
	width: 100px;
	border-radius: 5px;
	border: 5px solid #1C91FF;
}
#divFoto{
	left: 10%;
	position: absolute;
}
h1, h3, h2{
	color: #ffffff;
	font-family: sans-serif;
	font-weight: bold;
	padding-left: 60px;
	margin: 0;
}
a{
	color: #ffffff;
}
p{
	color: #ffffff;
	font-family: sans-serif;
	font-weight: bold;

}
#perfil{
	width: 600px;
	height: 180px;
	background-color: #1CC4D8;
	position: absolute;
	border-radius: 5px;
	border: 5px solid #1C91FF;
	left: 10%;
	padding-top: 2%;
}
footer{
	width: 600px;
	height: 100px;
	background-color: #1CC4D8;
	position: absolute;
	border-radius: 5px;
	border: 5px solid #1C91FF;
	left: 10%;
	padding-top: 2%;
	color: #ffffff;
	font-family: sans-serif;
	font-weight: bold;
}

#formulario{
	padding-left: 10%;
	font-family: sans-serif;
	color: black;
}
#titulo2{
	color: black;
	font-family: sans-serif;
	font-weight: bold;
}
video{
	width: 350px;
	height: 250px;
}

#experiencia{
	padding-left: 20%;
	font-family: sans-serif;
	color: black;
}